**/static/*
!**/static/.keep
data/
random_scripts/
.idea/
.liftoff_cfg.yaml
results/
configs/*
!configs/**/config*
!configs/**/default*
configs/default.yaml
wandb/
.wandb_key
wandb_key.py
runs/

__pycache__/
.ipynb_checkpoints/
runs
